
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :placeholder => "Identify the object" %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.text_field :cost, :placeholder => "The cost of the object, in dollars" %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.text_field :size, :placeholder => "Size in any unit, as a string" %>
  </div>
    <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url, :placeholder => "Optional image url" %>
  </div>
    <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight, :placeholder => "Weight in kilograms" %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category, :placeholder => "e.g., 'Electronics'" %>
  </div>
    <div class="field">
    <%= f.label :manufacturer %><br />
    <%= f.text_field :manufacturer, :placeholder => "The manufacturing company" %>
  </div>
    <div class="field">
    <%= f.label :date_purchased %><br />
    <%= f.text_field :date_purchased, :placeholder => "mm/dd/yyyy" %>
  </div>
  <div class="field">
    <%= f.label :owner %><br />
    <%= f.text_field :owner %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
