<p id="notice"><%= notice %></p>

<% if @post.url.length > 0 %>
<p><img src = "<%=@post.url%>" width="150" height="150"></p>
<% end %>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
<b>Description:</b>
  <%= @post.description %>
</p>

<p>
  <b>Location:</b>
  <%= @post.location %>
</p>

<p>
<b>Cost:</b>
  <%if @post.cost != nil%>
  $<%= @post.cost %>
  <% else %>
  unknown
  <%end%>

</p>

<p>
<b>Weight:</b>
<% if @post.weight != nil %>
	<%= @post.weight %> kg
<% end %>
</p>


<p>
  <b>Size:</b>
  <%= @post.size %>
</p>

<p>
  <b>Category:</b>
  <%= @post.category %>
  </p>

  <p>
  <b>Manufacturer:</b>
  <%= @post.manufacturer %>
  </p>
    <b>Date Purchased:</b>
  <%= @post.date_purchased %>
</p>

<p>
  <b>Purchase Number:</b>
  <%= @post.purchase_number %>
</p>

<p>
  <b>Owner:</b>
  <%= @post.owner %>
</p>

<% if @user != nil %>
  <p>
  <b>User:</b>
  <%= link_to @user.email, user_path(@user) %>
  </p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %><br/>
<%= link_to 'Back', posts_path %>
